<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
    </head>
    <body>
        <h1>
            <!--added headline placeholder which is connected to the variable headline in variables0.py file-->
            {{ headline }} 
            <!--this line is for the normal templates.py file to show "hello world" the templates.py file does not contain 
            any variables therefore if this line is not added then it will show nothing-->
            hello world
        </h1>
    </body>
</html>